.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
}

.navbar-links > * {
  margin: 0 0.5em;
}

.card {
  margin: 2em;
  padding: 1em;
}

.card > * {
  margin: 1em 0;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: gray;
  width: 100%;
  height: 10vh !important;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey !important;
  opacity: 0.5 !important; /* Firefox */
}

.hello {
  font-size: 1.3em;
}

.fas {
  padding: 0 0.5em;
}

.hscroll {
  overflow: scroll;
  white-space: nowrap;
  height: 80vh;
}

.hscroll::-webkit-scrollbar {
  display: none;
}

.circle {
  width: 5em;
}

.trackIcon {
  font-size: 5em;
}
